.App {
  text-align: left;
}

.App-header {
  background-color: rgb(64, 163, 158);
  min-height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navLinks{
  list-style:none;
  display: inline;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
}
.navLinks li {
  padding: 2px;
  width: 150px;

/*  margin-left: auto ;*/
/*  margin-right: auto ;*/
  margin: 0 auto;
  display: inline-block;
  font-weight: 500;
}

.links{
      padding: 1px 1px;
/*      width: 100%;*/
      margin-left: auto;
      margin-right: auto ;
       height: 40px;
}


.navLinks{
  list-style:none;
  display: inline;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
}

.navLinks li {
  padding: 2px;
  width: 150px;

  /* margin-left: auto ;
  margin-right: auto ; */
  margin: 0 auto;
  display: inline-block;
  font-weight: 500;
}

.links{
      padding: 1px 1px;
      /* width: 100%; */
      margin-left: auto;
      margin-right: auto ;
       height: 40px;
  }



.App-link {
  color: white;
}

.SearchBar {
  text-align: right;
  background-color: white;
  min-height: 100vh;
  display: inline-block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;

}


.row {
  display: flex;
  width: 100%;
  height: 100%;
  border: 3px solid black;
}

div.microblogs {
  border: 3px solid black;
  text-align: center;
}

div.sidebar {
  border: 3px solid black;
}

.microOrder {
  flex-direction: column;
  width: 100%
}

div.searchResults {
  border: 3px solid black;
  text-align: center;
}

div.sidebar {
  border: 3px solid black;
}

.userOrder {
  flex-direction: column;
  width: 100%
}

.Search h1{
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
