@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --background-color: rgb(13, 92, 115);
  --font-color: white;
  --toggle-bg: #eee;
  --toggle-circle: white;
  --toggle-other: orange;
  

}
[data-theme="light"] {
  --background-color: rgb(13, 92, 115);
  --font-color: white;
  --toggle-bg: #eee;
  --toggle-circle: white;
  --toggle-other: orange;
}

[data-theme="dark"] {
  --background-color: black;
  --font-color: white;
  --toggle-bg: purple;
  --toggle-bg: black;
  --toggle-other: #7983ff;
}


.App {
  text-align: left;
  font-family: 'Montserrat';
}

.App-header {
  background-color: var(--background-color);
  min-height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--font-color);
  font-family: 'Fredoka One';
  
}

.App-header a {
  color: white;
  text-decoration: none;
}
.navLinks{
list-style:none;
display: inline;
align-items: stretch;
justify-content: space-between;
/*width: 100%;*/
margin: 0;
padding: 0;
/*margin-bottom: 2px;*/
}
.navLinks li {
padding: 2px;
width: 150px;

/*  margin-left: auto ;*/
/*  margin-right: auto ;*/
margin: 0 auto;
display: inline-block;
font-weight: 500;
}

.links{
padding: 1px 1px;
/*      width: 100%;*/
margin-left: auto;
margin-right: auto ;
height: 40px;
}


.navLinks{
list-style:none;
display: inline;
align-items: stretch;
justify-content: space-between;
width: 100%;
margin: 0;
padding: 0;
margin-bottom: 2px;
}

.navLinks li {
  padding: 2px;
  width: 150px;

  /* margin-left: auto ;
  margin-right: auto ; */
  margin: 0 auto;
  display: inline-block;
  font-weight: 500;
}

.links{
      padding: 1px 1px;
      /* width: 100%; */
      margin-left: auto;
      margin-right: auto ;
       height: 40px;
  }

.App-link {
color: var(--font-color);
}

.topright{
  position:absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  font-style: bold;
}


#homeLink {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration-style: solid;
}



.topright2{
  position:absolute;
  top:60px;
  right:8px;
  font-size: 16px;
  font-style: bold;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.switch { 
  position : relative ;
  display : inline-block;
  width : 40px;
  height : 20px;
  background-color: var(--toggle-bg);
  border-radius: 20px;
}

.switch::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--toggle-circle);
  top: 1px; 
  left: 1px;
  transition: all 0.3s;
}

.checkbox:checked + .switch::after {
  left : 20px; 
}
.checkbox:checked + .switch {
  background-color: var(--toggle-other);
}

.checkbox { 
  display : none;
} 